# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files (large CSVs)
# Uncomment the line below if you don't want to track large data files
# *.csv
node_modules
.next
# typescript
*.tsbuildinfo
next-env.d.ts
/.vscode
.env